@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  /*   color variables */
  --clr-primary: #6aeeb5;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;

  /*   border radius */
  --radius: 0.2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: Roboto, sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  background: white;
  padding: 1rem 0;
  border-radius: var(--radius);

  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 2rem;
  column-gap: 1.5rem;
  max-width: 40%;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #8b8b8b;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: #7134f3;
}

.current {
  color: black;
  list-style: none;
}

.current a {
  text-decoration: none;
  color: #000;
}

.btn-primary {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #3d3d3d;
  background: #fff;
  border: 1px solid #707070;
  outline: none;
  border-radius: 0.7rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

/* .btn-primary:hover{
  opacity: 0.3;
} */

/* .btn-primary:hover {
  background: var(--clr-primary-hover);
} */

.cta {
  /* margin-left: 30%;
  margin-right: 10%; */
  font-size: 0.9rem;
  font-weight: 500;
  color: #3d3d3d;
  border: 1px solid #707070;
  outline: none;
  border-radius: 0.7rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.cta:hover {
  border: 1px solid #7134f3;
  color: #7134f3;
}

section.hero {
  height: 100vh;
  margin-left: 64px;
  width: 55%;
  overflow: hidden;
}

.hero-section-main-img {
  position: absolute;
  background-image: url(img/hero-image.png);
  height: 100vh;
  width: 45%;
  left: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-section-secondary-img {
  position: absolute;
  background-image: url(img/learninglab.png);
  height: 480px;
  width: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10000;
  top: 21.8%;
  left: 64.5%;
}

.hero-section-triangles {
  position: absolute;
  left: -0.5%;
  top: 20%;
  background-image: url(img/triangles.jpg);
  height: 40px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-section-text-wrapper {
  position: absolute;
  top: 40%;
}

.hero-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-section-text-wrapper img {
  max-width: 20%;
  margin-bottom: 1em;
}

.hero-title {
  margin: 0;
  letter-spacing: 1px;
  font-size: 3.45rem;
  font-weight: 500;
}

.hero-subtext {
  margin-top: 15px;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.btn-learn {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  background: #07609d;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: all 200ms ease-in;
  margin-right: 20px;
  text-decoration: none;
}

.btn-learn:hover {
  padding: 1.1rem 3.1rem;
}

.btn-join {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #3d3d3d;
  background: transparent;
  border: 1px solid #07609d;
  outline: none;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms ease-in;
}

.btn-join:hover {
  border: 2px solid #07609d;
}

/* END OF HERO SECTION CSS */

.sub-header {
  text-align: center;
  font-size: 40px;
}

.about-info-background {
  background-color: #07609d;
  height: 100vh;
  /* margin: auto; */
  position: relative;
}

.about-info {
  position: absolute;
  color: white;
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
  top: 15%;
  right: 15%;
  left: 15%;
}

.feature {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  margin-top: 5%;
}

.su-feature {
  text-align: center;
}

.content {
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-left {
  padding-left: 30px;
  border-left: 1px solid #fff;
}

.border-right {
  border-right: 1px solid #fff;
  padding-right: 30px;
}

/* END OF ABOUT US CSS */

section.recent-events {
  display: inline-block;
  height: 100vh;
  margin-bottom: 80%;
  margin-top: 10%;
}

section.recent-events p {
  text-align: center;
  margin-bottom: 49px;
}

.row {
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE 10 */
  flex-wrap: wrap;
  margin: auto;
  padding: 0 4px;
  width: 75%;
}

.column {
  -ms-flex: 50%;
  /* IE 10 */
  flex: 50%;
  padding: 0 4px;
  object-fit: contain;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* END OF EVENTS SECTION CSS */

section.newsletter {
  padding: 40px;
  border-radius: 25px;
  height: 40vh;
  width: 60%;
  margin: auto;
  color: #fff;
  background-color: #07609d;
}

section.newsletter p {
  text-align: center;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#email {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  background-color: white;
}

.form-inline button {
  border-radius: 5px;
  margin-left: 20px;
  padding: 1em 2em;
  font-weight: bold;
  background-color: #3995d2;
  border: 1px transparent;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  border: 1px solid white;
}

/* END OF NEWSLETTER SECTION CSS */

section.team {
  height: 220vh;
  width: 80%;
  margin: 15% auto 30% auto;
}

.team-container {
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 40px;
  padding: 1em;
}

.team-content img {
  width: 350px;
  height: auto;
}

/* END OF TEAM SECTION CSS */

footer {
  margin: auto;
  width: 90%;
}

.links-container {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.team-name {
  margin-bottom: 0;
  font-size: 25px;
}

.team-title {
  margin-top: 8px;
}

footer a {
  text-decoration: none;
  color: #3995d2;
}

.animation {
  margin: auto;
  width: 90%;
  border-top: 1px solid #07609d;
  animation: draw-line 3s;
  animation-fill-mode: forwards;
}

@keyframes draw-line {
  0% {
    width: 0;
  }

  50% {
    border-top: 1px solid #07609d;
  }

  100% {
    width: 100%;
    border-top: 1px solid #07609d;
  }
}

@media only screen and (max-width: 768px) {
  .cta {
    padding: 0.5rem 1rem;
  }

  .nav-list {
    max-width: 100% !important;
  }

  .hero {
    text-align: center !important;
    margin-left: 0 !important;
    width: 100% !important;
    padding-bottom: 20vh !important;
    height: 80vh !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: visible !important;
    box-sizing: content-box !important;
  }

  .hero-section-secondary-img,
  .hero-section-triangles,
  .hero-section-main-img {
    display: none !important;
  }

  .hero-section-text-wrapper {
    position: relative !important;
    top: auto !important;
  }
  .hero-section-text-wrapper img {
    max-width: 30% !important;
    margin-bottom: 1em !important;
  }
  .hero-title {
    font-size: xx-large !important;
    width: 100% !important;
  }
  .hero-subtext {
    font-size: large !important;
    font-weight: normal !important;
    width: 80% !important;
  }

  .hero-subtext-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .about-info-background {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-info {
    position: relative;
    text-align: center;
    min-width: 80vw;
    padding: 0;
    margin: auto;
    top: auto;
    right: auto;
    left: auto;
  }

  .feature {
    column-gap: 0;
    margin-top: 2rem;
  }

  .border-left {
    margin: 0;
    padding: 0;
    padding-left: 0.5rem;
  }

  .center-feature {
    padding: 0 0.5rem;
  }

  .border-right {
    /* padding: 15px; */
    margin: 0;
    padding: 0;
    padding-right: 0.5rem;
  }

  .recent-events {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    overflow-y: scroll !important;
    margin-bottom: 5rem !important;
  }

  section.recent-events p {
    text-align: center;
    margin-bottom: 0;
  }

  .row {
    display: block;
    flex-wrap: nowrap;
    margin: auto;
    padding: 0;
    width: 80%;
  }

  .column {
    flex: unset;
    padding: 0px;
    object-fit: contain;
  }

  .column img {
    margin-top: 0;
    vertical-align: middle;
    width: 100%;
    margin: 1em 0;
  }
  section.newsletter {
    width: 90%;
  }
  section .sub-header {
    font-size: x-large;
  }
  #email {
    width: 100%;
    margin-bottom: 1em;
  }
}
